<component name="ArtifactManager">
  <artifact type="war" name="spring-mvc-redis-distributed-session:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="spring-session-redis.war">
      <element id="artifact" artifact-name="spring-mvc-redis-distributed-session:war exploded" />
    </root>
  </artifact>
</component>